<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>占い結果</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
</head>

	<h1>占い結果</h1>

	<!-- animalFortuneオブジェクトの属性を表示 -->
	<p>あなたの動物占いキャラクターは「<b><span th:text="${animalFortune.animalName}"></span></b>」です！</p>
	
	<div>
		<img th:if="${animalFortune.animalName == '狼'}" src="/image/animal_ookami.png" alt="狼">
		<img th:if="${animalFortune.animalName == 'ペガサス'}" src="/image/fantasy_pegasus2.png" alt="ペガサス">
		<img th:if="${animalFortune.animalName == 'こじか'}" src="/image/animal_shika_kodomo.png" alt="こじか">
		<img th:if="${animalFortune.animalName == '猿'}" src="/image/eto_saru_dance.png" alt="猿">
		<img th:if="${animalFortune.animalName == 'チータ'}" src="/image/cheetah.png" alt="チーター">
		<img th:if="${animalFortune.animalName == '黒ひょう'}" src="/image/animal_hyou_panther_black.png" alt="黒ひょう">
		<img th:if="${animalFortune.animalName == 'ライオン'}" src="/image/animal_lion.png" alt="ライオン">
		<img th:if="${animalFortune.animalName == '虎'}" src="/image/eto_tora_banzai.png" alt="トラ">
		<img th:if="${animalFortune.animalName == 'たぬき'}" src="/image/animal_tanuki.png" alt="たぬき">
		<img th:if="${animalFortune.animalName == 'コアラ'}" src="/image/animal_stand_koala.png" alt="コアラ">
		<img th:if="${animalFortune.animalName == 'ゾウ'}" src="/image/party_zou.png" alt="ゾウ">
		<img th:if="${animalFortune.animalName == 'ひつじ'}" src="/image/eto_remake_hitsuji.png" alt="ひつじ">
	</div>



	<p class="line1">動物タイプの特徴</p>
	<ul>
		<li th:each="trait : ${animalFortune.animalTypeTraits}">
			<span th:text="${trait}"></span>
		</li>
	</ul>

	<p class="line1">基本性格</p>
	<p><span th:text="${animalFortune.basicPersonality}"></span></p>

	<p class="line1">得意なこと</p>
	<p><span th:text="${animalFortune.strengths}"></span></p>

	<p class="line1">苦手なこと</p>
	<p><span th:text="${animalFortune.weaknesses}"></span></p>

	<p class="line1">恋愛傾向</p>
	<p><span th:text="${animalFortune.loveTendencies}"></span></p>

	<p class="line1">結婚・家庭</p>
	<p><span th:text="${animalFortune.marriageAndFamily}"></span></p>

	<p class="line1">仕事運・適職</p>
	<p><span th:text="${animalFortune.careerAndSuitableJobs}"></span></p>

	<p class="line1">金運</p>
	<p><span th:text="${animalFortune.financialLuck}"></span></p>

	<p class="line1">相性</p>
	<p><span th:text="${animalFortune.compatibility}"></span></p>

	<a href="/" th:href="@{/}">戻る</a>
</body>

</html>